{% extends 'base.html.twig' %}

{% block css %}
    {{ encore_entry_link_tags('event') }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
{% endblock %}

{% block js %}
    {{ encore_entry_script_tags('event') }}
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>
{% endblock %}

{% block title %}Eprotest{% endblock %}
    <header class="header">
        <div class="header__eventBox">
            <div class="header__title">Przykładowe wydarzenie</div>
        </div>
    </header>
{% block body %}
{% endblock %}
