/* Categories */
.eco{
  color: $eco;
}
.social{
  color: $social;
}
.political{
  color: $political;
}
.religious{
  color: $religious;
}

.wrapper{
  .navigation{
    background: $darkBlue;
    font-family: 'Roboto', sans-serif;
    position: relative;
    .logo{
      &__image{
        width: 85px;
        padding: 15px;
        @media screen and (min-width: 960px){
          width: 105px;
        }
      }
      @media screen and (min-width: 960px){
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .hamburger{
      width: 40px;
      position: absolute;
      top: 35px;
      right: 15px;
      &__image{
        width: 40px;
      }
      @media screen and (min-width: 960px){
        display: none;
      }
    }
    &__menu{
      list-style: none;
      padding: 0;
      position: absolute;
      bottom: -20px;
      left: 0;
      height: 0;
      width: 100%;
      background: $darkBlue;
      box-shadow: 0 2px 10px rgba(0,0,0,0.1);
      z-index: -2;
      transition: all .3s ease-in;
      &--active{
        z-index: 210;
        height: 250px;
        bottom: -285px;
        padding: 15px 0;
      }
      @media screen and (min-width: 960px){
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;

      }
    }
    &__item{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 5px;
      transition: all .3s ease-in;
      @media screen and (min-width: 960px){
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
      }
      &:hover{
        background: darken($lightGreen, 7.5%);
      }
    }
    &__itemImage{
      width: 50px;
      @media screen and (min-width: 960px){
        margin-top: 20px;
      }
    }
    &__itemTxt{
      color: $white;
      font-size: 20px;
      margin-left: 15px;
      @media screen and (min-width: 960px){
        margin-left: 0;
        margin-top: 10px;
        font-size: 16px;
      }
    }
    .addons{
      display: none;
      &__option{
        width: 40px;
        height: 40px;
        background: $white;
        border-radius: 50%;
        font-size: 25px;
        color: $darkBlue;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      @media screen and (min-width: 960px){
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: absolute;
        bottom: 15px;
        left: calc(50% - 20px);
      }
    }
    @media screen and (min-width: 960px){
      min-height: 100vh;
      max-height: 100%;
    }
  }
  .content{
    width: 100%;
    .header{
      width: 100%;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      z-index: 10;
      font-family: 'Roboto', sans-serif;
      &__search{
        margin-left: 10px;
        width: 45%;
        border: 1px solid darken($lightGray, 7.5%);
        padding: 5px;
        border-radius: 30px;
        color: $lightGray;
        font-size: 14px;
        outline: 0;
        font-weight: 300;
        @media screen and (min-width: 960px){
          width: 55%;
          margin-left: 40px;
          padding: 10px;
        }
      }
      .userPanel{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        &__notifications{
          margin-right: 15px;
          position: relative;
          @media screen and (min-width: 960px){
            margin-right: 35px;
          }
        }
        &__messages{
          margin-right: 10px;
          position: relative;
          @media screen and (min-width: 960px){
            margin-right: 15px;
          }
        }
        &__notificationsIcon, &__messagesIcon{
          width: 20px;
          height: 20px;
          @media screen and (min-width: 960px){
            width: 25px;
            height: 25px;
          }
        }
        &__count{
          width: 15px;
          height: 15px;
          background: darken($lightGreen, 7.5%);
          border-radius: 50%;
          position: absolute;
          bottom: -3.5px;
          right: -7.5px;
          color: $white;
          font-weight: 400;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          padding: 1.5px;
          @media screen and (min-width: 960px){
            width: 20px;
            height: 20px;
            bottom: -8.5px;
            right: -12.5px;
            font-size: 14px;
          }
        }
        .userOption{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          position: relative;
          &__avatar{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            @media screen and (min-width: 960px){
              width: 50px;
              height: 50px;
            }
          }
          &__arrow{
            width: 15px;
            height: 15px;
            margin-right: 7.5px;
            margin-left: 7.5px;
            &:hover{
              cursor: pointer;
            }
            @media screen and (min-width: 960px){
              width: 20px;
              height: 20px;
            }
          }
          .userMenu{
            display: flex;
            background: $darkBlue;
            position: absolute;
            bottom: -210px;
            right: 5px;
            list-style: none;
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 5px 0;
            &__item{
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              padding: 5px 15px;
              width: calc(100% - 30px);
              border-bottom: 1px solid rgba(255,255,255, 0.6);
              transition: all .3s ease-in;
              &:last-child{
                border-bottom: 0;
              }
              &:hover{
                background: darken($lightGreen, 7.5%);
                cursor: pointer;
              }
            }
            &__itemImg{
              width: 20px;
              height: 20px;
              margin-right: 10px;
              @media screen and (min-width: 960px){
                width: 30px;
                height: 30px;
              }
            }
            &__itemTxt{
              color: $white;
              font-size: 14px;
              width: 100%;
              @media screen and (min-width: 960px){
                font-size: 16px;
              }
            }
            &::before{
              content: "";
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-bottom: 10px solid $darkBlue;
              position: absolute;
              top: -10px;
              right: 0;
            }
          }
        }
        @media screen and (min-width: 960px){
          margin-right: 20px;
        }
      }
    }
  }
  @media screen and (min-width: 960px){
    display: flex;
    flex-direction: row;
  }
  .loadBox {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    position: relative;
    .loaderBox{
      width: 100%;
      height: 100%;
      background: $white;
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 30;
      .loader {
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: $yellow;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        &::before {
          content: "";
          position: absolute;
          top: 5px;
          left: 5px;
          right: 5px;
          bottom: 5px;
          border-radius: 50%;
          border: 3px solid transparent;
          border-top-color: $lightGreen;
          -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
        }
        &::after {
          content: "";
          position: absolute;
          top: 15px;
          left: 15px;
          right: 15px;
          bottom: 15px;
          border-radius: 50%;
          border: 3px solid transparent;
          border-top-color: $green;
          -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
        }
      }
      @-webkit-keyframes spin {
        0%   {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      @keyframes spin {
        0%   {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }

    .categories{
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      .event{
        width: 300px;
        margin: 20px 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: all .3s ease-in;
        &__icon{
          width: 90px;
          height: 90px;
          background: $darkBlue;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 35px;
          @media screen and (min-width: 1920px){
            width: 105px;
            height: 105px;
            margin-top: 45px;
          }
        }
        &__iconImg{
          width: 55px;
          height: 55px;
          @media screen and (min-width: 1920px){
            width: 70px;
            height: 70px;
          }
        }
        &__title{
          margin: 20px 0;
          font-size: 34px;
          font-weight: 500;
          letter-spacing: 0.8px;
          @media screen and (min-width: 1920px){
            font-size: 36px;
          }
        }
        &__desc{
          width: 88%;
          margin: 0 auto 25px auto;
          font-size: 16px;
          font-weight: 300;
          color: $gray;
          text-align: justify;
          @media screen and (min-width: 1920px){
            width: 80%;
            line-height: 1.8;
            font-size: 18px;
          }
        }
        .stats{
          .posts{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 10px auto;
            &__img{
              width: 25px;
              height: 25px;
              margin-right: 10px;
            }
            &__txt{
              color: darken($gray, 10%);
              font-size: 18px;
              font-weight: 300;
              margin: 0;
              &--count{
                color: $lightGreen;
                font-weight: 500;
                font-size: 22px;
                margin-left: 5px;
              }
            }
          }
          .last{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 10px auto 30px auto;
            &__img{
              width: 25px;
              height: 25px;
              margin-right: 10px;
            }
            &__txt{
              color: darken($gray, 10%);
              font-size: 18px;
              font-weight: 300;
              margin: 0;
              &--count{
                color: $lightGreen;
                font-weight: 500;
                font-size: 22px;
                margin-left: 5px;
              }
              &--smaller{
                font-size: 14px;
              }
            }
          }
        }
        &.ecoEvent{
          &::before{
            content: "Przejdź dalej";
            color: $eco;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.6px;
            position: absolute;
            top: 20px;
            right: 20px;
            opacity: 0;
            transition: all .25s ease-in;
          }
          &::after{
            content: "";
            display: block;
            width: 2px;
            height: 20px;
            background: $eco;
            position: absolute;
            top: 17.5px;
            right: 12.5px;
          }
          &:hover{
            cursor: pointer;
            &::before{
              opacity: 1;
            }
          }
        }
        &.socialEvent{
          &::before{
            content: "Przejdź dalej";
            color: $social;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.6px;
            position: absolute;
            top: 20px;
            right: 20px;
            opacity: 0;
            transition: all .25s ease-in;
          }
          &::after{
            content: "";
            display: block;
            width: 2px;
            height: 20px;
            background: $social;
            position: absolute;
            top: 17.5px;
            right: 12.5px;
          }
          &:hover{
            cursor: pointer;
            &::before{
              opacity: 1;
            }
          }
        }
        &.politicalEvent{
          &::before{
            content: "Przejdź dalej";
            color: $political;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.6px;
            position: absolute;
            top: 20px;
            right: 20px;
            opacity: 0;
            transition: all .25s ease-in;
          }
          &::after{
            content: "";
            display: block;
            width: 2px;
            height: 20px;
            background: $political;
            position: absolute;
            top: 17.5px;
            right: 12.5px;
          }
          &:hover{
            cursor: pointer;
            &::before{
              opacity: 1;
            }
          }
        }
        &.religiousEvent{
          &::before{
            content: "Przejdź dalej";
            color: $religious;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.6px;
            position: absolute;
            top: 20px;
            right: 20px;
            opacity: 0;
            transition: all .25s ease-in;
          }
          &::after{
            content: "";
            display: block;
            width: 2px;
            height: 20px;
            background: $religious;
            position: absolute;
            top: 17.5px;
            right: 12.5px;
          }
          &:hover{
            cursor: pointer;
            &::before{
              opacity: 1;
            }
          }
        }

        @media screen and (min-width: 1920px){
          width: 350px;
        }
      }
      @media screen and (min-width: 960px){
        height: calc(100% - 70px);
      }
    }
    @media screen and (min-width: 960px){
      height: calc(100% - 70px);
    }
  }
  .eventsBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .controlPanel{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 50px;
      width: 94%;
      border-bottom: 1px solid $lightGray;
      &__button{
        width: 200px;
        outline: 0;
        border: 0;
        background: $lightGreen;
        color: $white;
        font-size: 18px;
        padding: 5px;
        margin-top: 30px;
        border-radius: 2.5px;
      }
      @media screen and (min-width: 960px){
        width: 240px;
        margin-left: 30px;
        border-bottom: 0;
        height: calc(90vh - 120px);
        margin-top: 15px;
        align-items: flex-start;
        &__button{
          position: relative;
          margin-top: 30px;
          &::after{
            content: "";
            height: 1px;
            width: 110%;
            background: $lightGray;
            position: absolute;
            bottom: -60px;
            left: -5%;
          }
        }
      }
    }
    .events{
            &::-webkit-scrollbar {
        width: 10px;
      }

            &::-webkit-scrollbar-track {
              background: lighten($lightGray, 15%);
      }

            &::-webkit-scrollbar-thumb {
        background-color: darken($lightGray, 20%);
      }
      .sort{
        margin-top: 20px;
        margin-left: 15px;
        &__select{
          border: 0;
          outline: none;
          padding: 5px 10px;
          box-shadow: 0 0 10px rgba(0,0,0,0.1);
          -webkit-appearance: none;
          border-radius: 2.5px;
          position: relative;
          &::after{
            content: url("/image/arrow.svg");
            display: block;
            width: 15px;
            height: 15px;
            position: absolute;
            top: 5px;
            right: 5px;
          }
        }
      }
      .eventsWrapper{
        margin-top: 30px;
        .eventCard{
          width: 92%;
          margin: 10px auto;
          background: $white;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          border-radius: 2.5px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          &__bg{
            width: 100%;
            height: 40%;
            .eventCard__bgImage{
              width: 100%;
              object-fit: contain;
            }
          }
          .content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          .user{
            margin-top: 15px;
            &__avatar{
              width: 70px;
              height: 70px;
              border-radius: 50%;
            }
          }
          &__header{
            width: 100%;
            text-align: center;
            font-size: 20px;
            font-weight: 500;
            padding: 0 5px;
            margin: 5px 0;
          }
          &__created{
            width: 100%;
            text-align: center;
            font-size: 16px;
            font-weight: 300;
            color: darken($lightGray, 1.5%);
            padding: 0 5px;
            margin: 5px 0;
          }
          &__desc{
            width: 92%;
            text-align: justify;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.4;
            color: darken($lightGray, 50%);
            margin: 10px auto;
          }
          .eventFooter{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            .posts{
              width: 30%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              margin-left: 10px;
              &__icon{
                width: 30px;
              }
              &__txt{
                width: 100%;
                text-align: center;
              }
            }
            .location{
              width: 30%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              margin-left: 10px;
              &__icon{
                width: 30px;
              }
              &__txt{
                width: 100%;
                text-align: center;
              }
            }
            .member{
              width: 30%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              &__icon{
                width: 30px;
              }
              &__txt{
                width: 100%;
                text-align: center;
              }
            }
          }
          @media screen and (min-width: 440px){
            width: 410px;
          }
        }

      }
      @media screen and (min-width: 960px){
        height: calc(100vh - 120px);
        width: calc(100% - 250px);
        overflow-y: scroll;

      }
    }
    @media screen and (min-width: 960px){
      flex-direction: row-reverse;
    }
  }
}
