
.wrapper{
  .wrapper__topBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    .wrapper__logo{
      margin: 5px 10px;
      .wrapper__logoImage{
        width: 80px;
      }
      @media screen and (min-width: 768px){
        margin: 15px 35px;
        .wrapper__logoImage{
          width: 120px;
        }
      }
      @media screen and (min-width: 1920px){
        margin: 15px 45px;
        .wrapper__logoImage{
          width: 200px;
        }
      }
    }
    .wrapper__searchBar{
      .wrapper__search{
        width: 85%;
        border: 0;
        background: $white;
        border-bottom: 1px solid $lightGreen;
        padding: 5px;
        border-radius: 3.5px;
        outline: 0;
      }
      @media screen and (min-width: 768px){
        width: 100%;
        margin-top: 25px;
        .wrapper__search{
          width: 95%;
        }
      }
      @media screen and (min-width: 1920px){
        .wrapper__search{
          font-size: 22px;
          padding: 10px;
          width: 1300px;
        }
      }
    }
    .wrapper__user{
      width: 40px;
      height: 40px;
      margin: 5px 10px;
      position: relative;
      .wrapper__userAvatar{
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      .wrapper__userOption{
        display: none;
        background: #3A414A;
        position: absolute;
        bottom: -160px;
        right: 0;
        list-style: none;
        font-family: 'Roboto', sans-serif;
        width: 150px;
        padding: 0;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        z-index: 8128;
        .wrapper___optionItem{
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          margin: 10px auto;
          color: $white;
          font-size: 13px;
          border-bottom: 1px solid darken(#3A414A, 10%);
          padding: 5px 10px;
          transition: all .2s ease-in;
          .wrapper__itemImage{
            width: 20px;
            margin-right: 10px;

          }
          &:last-child{
            border-bottom: none;
          }
          &:hover{
            color: $lightGray;
            cursor: pointer;
          }
        }
        &::before{
          content: "";
          width: 0;
          height: 0;
          display: block;
          border-left: 12px solid transparent;
          border-right: 12px solid transparent;
          border-bottom: 12px solid #3A414A;
          position: absolute;
          top: -8px;
          right: 0;
        }
        @media screen and (min-width: 768px){
          bottom: -170px;
        }
        @media screen and (min-width: 1240px){
          bottom: -185px;
          width: 220px;
          .wrapper___optionItem{
            font-size: 14px;
            .wrapper__itemImage{
              width: 25px;
            }
          }
        }
        @media screen and (min-width: 1240px){
          bottom: -210px;
          width: 250px;
          .wrapper___optionItem{
            font-size: 16px;
            .wrapper__itemImage{
              width: 28px;
            }
          }
        }
      }
      @media screen and (min-width: 768px){
        margin-top: 10px;
        margin-right: 30px;
        .wrapper__userAvatar{
          width: 55px;
          height: 55px;
        }
      }
      @media screen and (min-width: 1920px){
        margin-right: 80px;
        .wrapper__userAvatar{
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}
.main {
  .main__leftBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    .main__add {

        width: 230px;
        border-radius: 2.5px;
        color: $white;
        text-decoration: none;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        padding: 7.5px 5px;
        background: $green;
        text-align: center;
        margin-top: 15px;
      border: 0;
      box-shadow: 0 0 10px rgba(0,0,0,0.1px);
      @media screen and (min-width: 768px){
        width: 200px;
      }
      @media screen and (min-width: 1050px){
        width: 240px;
      }
      @media screen and (min-width: 1920px){
        width: 300px;
        font-size: 22px;
      }
    }
    .main__options{
      list-style: none;
      padding: 0;
      margin-top: 30px;
      padding-bottom: 50px;
      width: 80%;
      border-bottom: 1px solid $lightGray;
      .main__item{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 500;
        .main__itemImage{
          width: 20px;
          height: 20px;
          margin-right: 15px;
          @media screen and (min-width: 1920px){
            width: 40px;
            height: 40px;
          }
        }
        @media screen and (min-width: 1920px){
          font-size: 22px;
        }
      }
      @media screen and (min-width: 768px){
        width: 100%;
        .main__item{
          justify-content: flex-start;
          align-items: center;
          padding-left: 15px;
        }
      }

    }
    .main__categories{
      list-style-type: none;
      .main__category{
        padding: 10px 5px;
        font-size: 18px;
        font-weight: 500;
        position: relative;
        font-family: 'Roboto', sans-serif;
        transition: all .2s ease-in;
        &::before{
          content: "";
          width: 15px;
          height: 15px;
          border-radius: 50%;
          position: absolute;
          top: calc(50% - 10px);
          left: -25px;
          @media screen and (min-width: 1920px){
            width: 20px;
            height: 20px;
          }
        }
        &.all{
          &::before{
            background: $all;
          }
          &:hover{
            color: $all;
          }
        }
        &.eco{
          &::before{
            background: $eco;
          }
          &:hover{
            color: $eco;
          }
        }
        &.social{
          &::before{
            background: $social;
          }
          &:hover{
            color: $social;
          }
        }
        &.political{
          &::before{
            background: $political;
          }
          &:hover{
            color: $political;
          }
        }
        &.religious{
          &::before{
            background: $religious;
          }
          &:hover{
            color: $religious;
          }
        }
        &:hover{
          cursor: pointer;
        }
        @media screen and (min-width: 1920px){
          font-size: 24px;
        }
      }
      @media screen and (min-width: 768px){
        padding-left: 35px;
      }
      @media screen and (min-width: 1920px){
        padding-left: 50px;
      }
    }
    @media screen and (min-width: 768px){
      margin-left: 25px;
      justify-content: flex-start;
      align-items: flex-start;
    }
    @media screen and (min-width: 1050px){
      width: 250px;
    }
    @media screen and (min-width: 1240px){
      width: 25%;
    }
    @media screen and (min-width: 1920px){
      margin-left: 55px;
    }
  }
  .main__rightBar{
    margin-top: 30px;
    .main__events{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .main__event{
        width: 90%;
        padding: 5px;
        border: 1px solid darken($lightGray, 2%);
        border-radius: 5px;
        position: relative;
        font-family: 'Roboto', sans-serif;
        .main__categoryLabel{
          padding: 2.5px 5px 2.5px 20px;
          color: darken($lightGray, 20%);
          font-weight: 500;
          background: $white;
          position: absolute;
          right: 10px;
          top: -12.5px;
          border-radius: 5px;
          &::before{
            content: '';
            width: 10px;
            height: 10px;
            position: absolute;
            top: calc(50% - 5px);
            left: 5px;
            border-radius: 50%;
          }
          &.ecoLabel{
            border: 1px solid $eco;
            &::before{
              background: $eco;
            }
          }
          &.socialLabel{
            border: 1px solid $social;
            &::before{
              background: $social;
            }
          }
          &.politcalLabel{
            border: 1px solid $political;
            &::before{
              background: $political;
            }
          }
          &.religiousLabel{
            border: 1px solid $religious;
            &::before{
              background: $religious;
            }
          }
          @media screen and (min-width: 1920px){
            font-size: 18px;
          }
        }
        .main__logo{
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 15px;
          .main__logoImage{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            @media screen and (min-width: 1920px){
              width: 85px;
              height: 85px;
            }
          }
          @media screen and (min-width: 960px){
            width: auto;
            margin-left: 5px;
            margin-bottom: 50px;
          }
          @media screen and (min-width: 1240px){
            margin-bottom: 20px;
            margin-left: 2.5%;
          }

        }
        .main__text{
          .main__title{
            font-family: 'Dosis', sans-serif;
            font-weight: 600;
            letter-spacing: 0.8px;
            font-size: 24px;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 2.5px;
            @media screen and (min-width: 960px){
              text-align: left;
              font-size: 20px;
              margin-top: 20px;
            }
            @media screen and (min-width: 1050px){
            font-size: 26px;
          }
            @media screen and (min-width: 1240px){
              font-size: 30px;
            }
            @media screen and (min-width: 1920px){
              font-size: 40px;
            }
          }
          .main__data{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-weight: 300;
            color: darken($lightGray, 7.5%);
            margin-top: 0;
            padding-bottom: 35px;
            .main__owner{
              font-weight: 500;
              color: darken($lightGray, 25%);
              font-size: 18px;
              margin-right: 3.5px;
              @media screen and (min-width: 960px){
                font-size: 16px;
              }
              @media screen and (min-width: 1050px){
                font-size: 18px;
              }
            }
            .main__date{
              margin-left: 3.5px;
            }
            @media screen and (min-width: 960px){
              justify-content: flex-start;
              font-size: 14px;
              padding-bottom: 10px;
            }
            @media screen and (min-width: 1050px){
              font-size: 16px;
            }
          }

        }

        .main__respondUser{
          position: absolute;
          bottom: 2.5px;
          left: 5px;
          .main__respondUserImage{
            width: 25px;
            height: 25px;
            border-radius: 50%;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            @media screen and (min-width: 1050px){
              width: 30px;
              height: 30px;
            }
            @media screen and (min-width: 1920px){
              width: 45px;
              height: 45px;
            }
          }
          @media screen and (min-width: 960px){
            position: static;
            width: 120px;
          }
          @media screen and (min-width: 1050px){
            width: 140px;
          }
          @media screen and (min-width: 1920px){
            width: 200px;
          }

        }
        .main__commentCount{
          position: absolute;
          bottom: 2.5px;
          right: 10px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          .main__commentImage{
            width: 25px;
            height: 25px;
            margin-right: 5px;
            @media screen and (min-width: 1920px){
              width: 40px;
              height: 40px;

            }
          }
          .main__count{
            font-size: 20;
            color: darken($lightGray, 25%);
            margin: 0;
            @media screen and (min-width: 1920px){
              font-size: 28px;
            }
          }
          @media screen and (min-width: 960px){
            position: static;
            width: 40px;
            margin-right: 10px;
          }
          @media screen and (min-width: 1920px){
            margin-right: 20px;
            width: 80px;
          }
        }
        @media screen and (min-width: 768px){
          width: 90%;
        }
        @media screen and (min-width: 960px){
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
          width: 650px;
        }
        @media screen and (min-width: 1050px){
          width: 720px;
        }
        @media screen and (min-width: 1240px){
          width: 90%;
        }
        @media screen and (min-width: 1920px){
          width: 1200px;
        }
      }
    }
    @media screen and (min-width: 768px){
      margin-left: 25px;
      width: 100%;
    }
  }
  @media screen and (min-width: 768px){
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  @media screen and (min-width: 1050px){
    margin-top: 20px;
  }
}