<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('build/css/main/index.css') }}">
    <title>Eprotest</title>
</head>
<body id="loginBody">
<div class="box">
    <div class="box__colOne">
        <form class="box__form">
            {#<input type="text" class="box__input" placeholder="Nazwa użytkownika" name="nick">#}
            <input type="text" class="box__input" placeholder="E-mail" name="email">
            <input type="password" class="box__input" placeholder="Hasło" name="password">
            <input type="submit" class="box__btn" value="Zaloguj" name="btn">
            <div class="box__error">Coś poszło nie tak</div>
        </form>
    </div>
    <div class="box__colTwo">
        <div class="box__header">
            <div class="box__title">
                Cieszymy się, że jesteś!
            </div>
            <div class="box__subtitle">
                Zaloguj się i zmieniaj świat!
            </div>
        </div>
        <img src="{{ asset('image/wzor.png') }}" alt="Wzór" class="box__img" ></img>
    </div>
</div>
</body>
</html>