/* BLUE */
$darkBlue: #111827;
$lightBlue: lighten($darkBlue, 2%);

/* WHITE AND GRAY */
$white: #fff;
$lightGray: #d6d6d6;
$gray: #747474;
/* GREEN */
$green: #19a56f;
$lightGreen: #74E3B9;

/* YELLOW */
$yellow: #f2d118;

/* RED */
$red: #ff5c5c;

/* CATEGORIES */
$all: #4A90E4;
$eco: #57D58B;
$social: #FEDD4D;
$political: #F7728F;
$religious: #BF80EC;