{% extends 'base.html.twig' %}

{% block css %}
    {{ encore_entry_link_tags('eventAdd') }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
{% endblock %}

{% block js %}
    {{ encore_entry_script_tags('eventAdd') }}
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>
{% endblock %}

{% block title %}Eprotest{% endblock %}

{% block body %}
    <div class="bg"><img src="{{ asset('image/forumBg.svg') }}" alt="" class="bg__image"></div>
    <main class="wrapper">

            <form method="post" id="wrapper__form" enctype="multipart/form-data">
                <div class="wrapper__logo"><img src="{{ asset('image/logo_dark.svg') }}" alt="" class="wrapper__logoImage"></div>
                <div class="wrapper__colOne">
                <input type="text" name="title" class="wrapper__input" placeholder="Tytuł wydarzenia"/>
                <input type="date" name="date" class="wrapper__input" placeholder="Data wydarzenia"/>
                <input type="time" name="time" class="wrapper__input" placeholder="Godzina rozpoczęcia"/>
                <select name="category" id="" class="wrapper__select">
                    <option value="default" class="wrapper__option" disabled selected hidden>Wybierz kategorię protestu</option>
                    <option value="ekologiczny" class="wrapper__option">Ekologiczny</option>
                    <option value="społeczny" class="wrapper__option">Społeczny</option>
                    <option value="polityczny" class="wrapper__option">Polityczny</option>
                    <option value="religijny" class="wrapper__option">Religijny</option>
                </select>
                <select name="type" id="" class="wrapper__select">
                    <option value="default" class="wrapper__option" disabled selected hidden>Wybierz typ protestu</option>
                    <option value="pikieta" class="wrapper__option">Pikieta</option>
                    <option value="marsz" class="wrapper__option">Marsz</option>
                </select>
                <input type="text" name="location1" class="wrapper__input" placeholder="Lokalizacja startowa (pole 1, np. miasto)"/>
                <input type="text" name="location2" class="wrapper__input" placeholder="Lokalizacja startowa (pole 2, np. ulica)"/>
                <input type="text" name="endlocation" class="wrapper__input" placeholder="Miejsce zakończenia"/>
                </div>
                <div class="wrapper__colTwo">
                    <div class="wrapper__row">
                        <label for="logo" class="wrapper__clickArea"><span>Dodaj logo swojego protestu<br>Dopuszczalne formaty to JPG, JPEG i PNG</span></label>
                        <input type="file" name="logo" id="logo" class="wrapper__file" accept=".jpg,.jpeg,.png">
                        <label for="bgImage" class="wrapper__clickArea --right"><span>Dodaj tło wydarzenia<br>Dopuszczalne formaty to JPG, JPEG i PNG</span></label>
                        <input type="file" name="bgImage" id="bgImage" class="wrapper__file" accept=".jpg,.jpeg,.png">
                    </div>
                <textarea name="description" id="" cols="30" rows="10" class="wrapper__textarea" placeholder="Opis wydarzenia"></textarea>
                <div class="wrapper_map" id="mapid"></div>
                <input type="submit" value="Dodaj" class="wrapper__submit">
                </div>
            </form>

    </main>
{% endblock %}
